#main-header {
  display: grid;
  grid-template-columns: 95px 1fr 110px;
  padding: 0 10px;
  align-self: center;
}

#auth-link {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  padding-left: 5px;
  font-size: 0.9em;
  align-self: center;
  cursor: pointer;
}

#auth-link:hover {
  text-decoration: underline;
}

#auth-logo {
  text-align: left;
}

#auth-text {
  text-align: center;
}

#select-year {
  display: grid;
  grid-template-columns: 25px auto 25px;
  align-items: center;
  text-align: center;
}

.year-view {
  display: inline-block;
  width: 60px;
}

.link-choose-year {
  margin-bottom: 2px;
  font-size: 1.1em;
  text-decoration: none;
}

#loading-animation {
  display: grid;
  justify-items: right;
  align-items: center;
  margin-right: 20px;
}