.event {
  width: 100%;
  height: 13px;
  box-sizing: border-box;
  margin: 2px 0;
  padding: 0 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #de3141;
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
}