#main-header {
  display: grid;
  grid-template-columns: 95px 1fr;
  padding: 0 10px;
  align-self: center;
}

#auth-link {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  padding-left: 5px;
  font-size: 0.9em;
  align-self: center;
  cursor: pointer;
}

#auth-link:hover {
  text-decoration: underline;
}

#auth-logo {
  text-align: left;
}

#auth-text {
  text-align: center;
}

#select-year {
  text-align: right;
}

.year-view {
  display: inline-block;
  width: 60px;
  text-align: center;
}

.link-choose-year {
  padding: 0 5px;
  font-size: 1.1em;
  cursor: pointer;
}